<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src = "https://code.jquery.com/jquery-latest.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
div#header{
    background-color : #FFECC4;
    position : fixed;
    width : 100%;
    top : 0;
    left: 0;
    height : 13.5rem;
	text-align: center;
	
}

input#tname,input#tarea,input#tgenre{
	display : inline-block;
	text-align: center;
	background-color: rgba(255,255,255,0);
	border: 2px solid white;
	border-radius: 20px;
	width : 220px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
}

div#contents{ 
	margin-top : 10px;
	position: fixed;
	top: 15.5rem; 
	left: 20px; 
	right: 0; 
	bottom: 0; 
	overflow: auto; 
}

div#tour-recommend{
	width : 90%;
	margin-top : 10px;
	left: 20px; 
	right: 20px; 
	margin-left: auto;
	margin-right:auto;
}

.datadiv{
	width : 100%;
	height: 200px;
	margin-left: auto;
	margin-right:auto;
}

.card {
	display : inline-block;
	background: #fff;
	border-radius: 2px;
	height: 150px;
	margin-left : auto;
	margin-right : auto;
	margin: 1rem;
	position: relative;
	text-align: center;
}

.card-3 {
  	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	margin-left : auto;
	margin-right : auto;
	margin-top:20px;
	margin-bottom:20px;
	width: 90%;
}
</style>
<script type="text/javascript">
$(document).ready(function(){
	//alert('a');
	
	$("#nrestaurant").click(function(){
		//alert('a');
		var area = $("#tarea").val();
		$("#tour-recommend").empty();
		
		$.ajax({
			url:'nearajax',
			type:'get',
			data:{'area': area, 'way':'food'},
			dataType:'json',
			success:function(data){
				//alert(data);
				var str = ""

				
				$.each(data, function(ind, entry){					
					str += "<div class = 'datadiv'><div class='card card-3'>";
					str += "<form id = 'tfrm'"+ind+" method = 'post'>";
					str += "<table style = 'height: 150px; width : 90%; margin : auto; border:0px;'>";
					str += "<tr><td rowspan = 4 style = 'text-align: left;'>";
					str += "<img src='/static/image/unnamed.png' style='margin-top:20px; margin-bottom:20px; width: 110px; height: 110px;'>";
					str += "</td><td>" + entry['tour'] + "<input type = 'hidden' name = 'tour' value = '" + entry['tour'] + "'></td>";
					str += "<td rowspan = 4 style = 'text-align: right;'>";
					str += "<button type = 'button' class='btn btn-outline-secondary' onclick = '" +"location.href='cossim?tour=" + entry['tour'] +"'";
					str += "'>관련<br>여행지<br>추천</button>";
					str += "</td></tr>";
					str += "<tr><td>" + entry['area'] + "</td></tr>";
					str += "<tr><td>" + entry['genre'] + "</td></tr>";
					str += "<tr><td>평균점수 : " + entry['score'] + " (" + entry['cnt'] + "명)" + "</td></tr></table></form></div></div>";
				});
				
				$("#tour-recommend").append(str);
				
				
			},
			error:function(){
				$("#tour-recommend").html('<h6>에러</h6>');
			}
		});
	});
	
	$("#nplace").click(function(){
		//alert('b');
		var area = $("#tarea").val();
		$("#tour-recommend").empty();
		
		$.ajax({
			url:'nearajax',
			type:'get',
			data:{'area': area, 'way':'place'},
			dataType:'json',
			success:function(data){
				//alert(data);
				var str = ""

				
				$.each(data, function(ind, entry){					
					str += "<div class = 'datadiv'><div class='card card-3'>";
					str += "<form id = 'tfrm'"+ind+" method = 'post'>";
					str += "<table style = 'height: 150px; width : 90%; margin : auto; border:0px;'>";
					str += "<tr><td rowspan = 4 style = 'text-align: left;'>";
					str += "<img src='/static/image/unnamed.png' style='margin-top:20px; margin-bottom:20px; width: 110px; height: 110px;'>";
					str += "</td><td>" + entry['tour'] + "<input type = 'hidden' name = 'tour' value = '" + entry['tour'] + "'></td>";
					str += "<td rowspan = 4 style = 'text-align: right;'>";
					str += "<button type = 'button' class='btn btn-outline-secondary' onclick = '" +"location.href='cossim?tour=" + entry['tour'] +"'";
					str += "'>관련<br>여행지<br>추천</button>";
					str += "</td></tr>";
					str += "<tr><td>" + entry['area'] + "</td></tr>";
					str += "<tr><td>" + entry['genre'] + "</td></tr>";
					str += "<tr><td>평균점수 : " + entry['score'] + " (" + entry['cnt'] + "명)" + "</td></tr></table></form></div></div>";
				});
				
				$("#tour-recommend").append(str);
				
				
			},
			error:function(){
				$("#tour-recommend").html('<h6>에러</h6>');
			}
		});
	});
});
</script>	
</head>
<body>
<div id="header">
	<!--  
	<a href='signup'>회원가입</a>
	-->
	{% if user_log %}
		<div align="right" style="right: 15px; top: 10px;">
			<form action="logout">
				<b style="color: purple;">{{ user_log }}(<a href = "mypage">{{ user_id }}</a>) 님 안녕하세요</b>
				<a href = "/">메인으로</a>
				<a href = "main">맞춤여행지추천</a>
				<a href = "info">지역별여행지추천</a>
				<button type="submit" class="btn btn-primary btn-sm">로그아웃</button>
			</form>
		</div>
	{% else %}
		<div style = "width:45%; float:left; margin-left: 5%; margin-top: 10px; text-align:left;">
			<a href='javascript:history.back()'>뒤로가기</a>
		</div>
		<div style = "width:45%; float:right; margin-right: 5%; margin-top: 10px; text-align:right;">
			<b style="color: purple;">비회원 방문</b>
			<a href='home'>로그인</a>
			<a href='signup'>회원가입</a>
		</div>
	{% endif %}
	<form id = 'tfrm' method = 'post'>{% csrf_token %}
		<table border = '1' style = "width : 90%; text-align:center; margin : auto; border:0px;">
			<tr>
				<td rowspan = 5 style='width:200px;'>
					<img src='/static/image/unnamed.png' style="margin-top:20px; margin-bottom:20px; width: 200px; height: 200px;">
				</td>
				<td><br></td>
				<td rowspan = 5>
					<button type = 'button' class="btn btn-outline-secondary" id = "nrestaurant">근처<br>맛집<br>추천</button>
				</td>
				<td rowspan = 5>
					<button type = 'button' class="btn btn-outline-secondary" id = "nplace">근처<br>여행지<br>추천</button>
				</td>
			</tr>
			<tr>
				<td align='left' style = "height:30px;"><input type='text' id = 'tname' value = '{{tourinfo.tourname}}'/></td>
			</tr>
			<tr>
				<td align='left' style = "height:30px;"><input type='text' id = 'tarea' value = '{{tourinfo.city}} {{tourinfo.town}}'/></td>
			</tr>
			<tr>
				<td align='left' style = "height:30px;"><input type='text' id = 'tgenre' value = '{{tourinfo.genre.genrename}}'/></td>
			</tr>
			<tr>
				<td><br></td>
			</tr>				
		</table>
	</form>
</div>
<div id='contents'>
	<div id='tour-recommend'>
	{% if tour %}
		<h3>관련여행지</h3>
			<input type = 'button' class="btn btn-outline-secondary" id = 'btn1' value = '장르기반'>
			<input type = 'button' class="btn btn-outline-secondary"  id = 'btn2' value = '장소기반'>
		{% for t in tour %}
		<div class = 'datadiv'>
			<div class="card card-3">
			<form id = 'tfrm{{forloop.counter}}' method = 'post'>{% csrf_token %}
				<table style = "height: 150px; width : 90%; margin : auto; border:0px;">
					<tr>
						<td rowspan = 4 style = 'text-align: left;'>
							<img src='/static/image/unnamed.png' style="margin-top:20px; margin-bottom:20px; width: 110px; height: 110px;">
						</td>
						<td>{{t.tour}}<input type = 'hidden' name = 'tour' value = '{{t.tour}}'></td>
						<td rowspan = 4 style = 'text-align: right;'>
							<button type = 'button' class="btn btn-outline-secondary" onclick = "location.href='cossim?tour={{t.tour}}'">관련<br>여행지<br>추천</button>
						</td>
					</tr>
					<tr>
						<td>{{t.area}}</td>
					</tr>
					<tr>
						<td>{{t.genre}}</td>
					</tr>
					<tr>
						<td>평점 : {{t.weighted_vote}}</td>
					</tr>					
				</table>
				</form>
			<!--<input type = 'hidden' id = 'txtArea{{forloop.counter}}' value = '{{t}}'/>
			<input type = 'button' class="btn btn-outline-secondary" id = 'btn{{forloop.counter}}' value = '장르기반'>
			<input type = 'button' class="btn btn-outline-secondary"  id = 'btn_{{forloop.counter}}' value = '장소기반'>
			</div>
			<div id = 'showData{{forloop.counter}}'  style = 'text-align: left; padding-left: 20px;'></div>
		-->
			</div>
		</div>
		{% endfor %}
	{% else %}
		<h3>검색 결과가 없습니다.</h3>
	{% endif %}
	</div>
</div>
</body>
</html>