<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>여행지 추천</title>
</head>
<link rel="stylesheet" href="./static/css/style.css">
<script src="https://kit.fontawesome.com/51db22a717.js" crossorigin="anonymous"></script>

<script type="text/javascript">
window.onload = function(){
	document.getElementById("btnLogin").onclick = function(){
		//alert('a');
		var bool = loginCheck();
		if (bool){
			frm.submit();			
		}
	};
};

function loginCheck(){
	if(frm.id.value === ''){
		alert('아이디 입력');
		return false;
	}else if (frm.pwd.value == ''){
		alert('패스워드 입력');
		return false;
	}else{
		return true;
	}
	
};

</script>
<body>
{% if error %}
{{error | safe }}
{% endif %}
<div class="main-container">
	<div class="main-wrap">
	<header>
		<div class="logo-wrap">
			<h2 style="color: green;">여행지 추천 가이드</h2>
		</div>
	</header>
	<section class="login-input-section-wrap">
	<form action="login" method="post" name='frm'>{% csrf_token %}
		<div class="login-input-wrap">	
			<input placeholder="Username" type="text" id="id" name="id"></input>
		</div>
		<div class="login-input-wrap password-wrap">	
			<input placeholder="Password" type="password" id='pwd' name='pwd'></input>
		</div>
		<div class="login-button-wrap">
			<button type="button" id="btnLogin">로그인</button>
		</div>
	</form>
		<div class="login-button-wrap">
			<button type="button" onclick="location.href='signup'" id="btnCreate">회원가입</button>
		</div>
		<div class="login-button-wrap">
			<button type="button" onclick="location.href='/'" id="btnMain">메인화면</button>
		</div>
	</section>
	<footer>
		<div class="copyright-wrap">
		<span>Copyright © KIC Team3 All Rights Reserved.</span>
		</div>
	</footer>
	</div>
</div>
</body>
</html>